*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{

    font-family:'Poppins',sans-serif;
    background:#F3FFF4;
    color:#222;

}
.container{
    width:min(1200px,90%);
    margin:auto;

}
.navbar{
    width:100%;
    background:#fff;
    position:sticky;
    top:0;
    z-index:999;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
}
.nav-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:80px;
}
.navbar-brand img{
    width:60px;
    display:flex;
    align-items:center;
}
.nav-menu{
    display:flex;
    list-style:none;
    gap:32px;
}
.nav-menu a{
    text-decoration:none;
    color:#222;
    font-size:15px;
    align-items:center;
    transition:.3s;
}
.nav-menu a:hover{
    color:#4E8C63;
    font-weight:500;
    text-decoration:underline;
}
.nav-button{
    display:flex;
    align-items:center;
    gap:14px;
}
.btn{
    padding:11px 22px;
    border-radius:8px;
    font-family:inherit;
    font-size:14px;
    cursor:pointer;
    transition:.3s;
}
.btn-primary{
    text-decoration: none;
    padding: 10px 15px;
    background-color: #458057;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}
.btn-primary:hover{
    background:#3D7150;
}
.btn-outline{
    text-decoration: none;
    border: 1.5px solid #458057;
    border-radius: 5px;
    color: #458057;
    padding: 10px 15px;
    font-size: 16px;
}
.btn-outline:hover{
    background:#458057;
    color:#fff;
}
.hero{
    padding:70px 0;
}
.hero-container{
    background:#B9C8BC;
    border-radius:24px;
    min-height:520px;
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    padding:70px;
    gap:50px;
}
.hero-content h1{
    font-size:40x;
    line-height:1.2;
    color:#fff;
    margin-bottom:22px;
    font-weight:600
}
.hero-content p{
    color:#3F3F3F;
    max-width:480px;
    line-height:1.8;
    margin-bottom:35px;
}
.hero-image{
    display:flex;
    justify-content:center;
    align-items:center;
}
.hero-image img{
    width:100%;
    max-width:380px;
}